<div class="row mx-0 h-100">
  <div class="col-md-3 menu">
    <app-menu (onAddField)="addField()" (onAddText)="addText()"></app-menu>
  </div>
  <div class="col-md-9">
    <div *ngFor="let field of fields">
      <app-field [field]="field"></app-field>
    </div>

    <div *ngFor="let text of texts">
      <app-text [text]="text"></app-text>
    </div>

    <div class="row mx-0">
      <button
        class="btn btn-primary float-right mt-2 mx-1"
        (click)="generateHtml()"
      >
        Gerar HTML
      </button>
      <button class="btn btn-danger float-right mt-2 mx-1" (click)="clear()">
        Limpar
      </button>
    </div>
    <hr />
  </div>
</div>
