.resizable-draggable {
  outline: 1px dashed green;
}

.resizable-draggable.active {
  outline-style: solid;
  background-color: #80ff800d;
}

.resizable-draggable:hover {
  cursor: all-scroll;
}

.resize-action {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent transparent #008000;
}

.resize-action.active {
  cursor: nwse-resize;
}

.resize-action:hover {
  cursor: nwse-resize;
}
