#field {
  position: fixed;
  outline: rgb(228, 225, 225);
  height: auto;
  border: 1px dashed rgb(218, 214, 214);
  background-color: rgba(128, 128, 128, 0);
  cursor: all-scroll;
}

.field-corner-resize {
  position: absolute;
  background-color: red;
}

#field-top-left-resize {
  top: 0px;
  left: 0px;
}

#field-bottom-right-resize {
  bottom: 0px;
  right: 0px;
}
